<h2>Order Sheet</h2>
<form novalidate [formGroup]="orderSheetForm" (ngSubmit)="onSubmitForm()">
  <section class="customer-name">
    <input formControlName="customerName" type="text" placeholder="Your Name">
    <div *ngIf="customerNameControl.errors" class="errors">
      <div *ngIf="customerNameControl.errors.required">
        Required!
      </div>
      <div *ngIf="customerNameControl.errors.minlength">
        Must be at least {{customerNameControl.errors.minlength.requiredLength}} letters
      </div>
    </div>
    <div class="welcome-back" *ngIf="showWelcomeMessage">
      Welcome back {{customerNameControl.value}}
    </div>
  </section>
  <section class="size">
    <h1>Pick your size</h1>
    <ul>
      <li>
        <input id="sizeSmall" type="radio" formControlName="size" value="small">
        <label for="sizeSmall">Small</label>
      </li>
      <li>
        <input id="sizeLarge" type="radio" formControlName="size" value="large">
        <label for="sizeLarge">Large</label>
      </li>
    </ul>
  </section>
  <section class="specialty-sandwiches">
    <h1>Specialty Sandwiches</h1>
    <label>Me wants:</label>
    <select formControlName="specialtySandwich">
      <option value=""></option>
      <option value="The Grinder">The Grinder</option>
      <option value="Cordon Bleu">Cordon Bleu</option>
      <option value="Cali Cheesesteak">Cali Cheesesteak</option>
    </select>
  </section>
  <section *ngIf="!orderSheetForm.get('specialtySandwich').value" class="build-your-own">
    <h1>Build Your Own</h1>
    <section>
      <h1>A Bread</h1>
      <ul>
        <li>
          <input id="breadWheatRoll" type="radio" formControlName="bread" value="wheat roll">
          <label for="breadWheatRoll">Wheat Roll</label>
        </li>
        <li>
          <input id="breadWhiteRoll" type="radio" formControlName="bread" value="white roll">
          <label for="breadWhiteRoll">White Roll</label>
        </li>
        <li>
          <input id="breadSourdoughRoll" type="radio" formControlName="bread" value="sourdough roll">
          <label for="breadSourdoughRoll">Sourdough Roll</label>
        </li>
      </ul>
    </section>
    <section formGroupName="meats">
      <h1>The Meats</h1>
      <ul>
        <li>
          <input formControlName="meatHam" id="meatHam" type="checkbox">
          <label for="meatHam">Ham</label>
        </li>
        <li>
          <input formControlName="meatTurkey" id="meatTurkey" type="checkbox">
          <label for="meatTurkey">Turkey</label>
        </li>
        <li>
          <input formControlName="meatRoastBeef" id="meatRoastBeef" type="checkbox">
          <label for="meatRoastBeef">Roast Beef</label>
        </li>
      </ul>
    </section>
    <section formGroupName="cheeses">
      <h1>The Cheeses</h1>
      <ul>
        <li>
          <input formControlName="cheeseProvolone" id="cheeseProvolone" type="checkbox">
          <label for="cheeseProvolone">Provolone</label>
        </li>
        <li>
          <input formControlName="cheeseCheddar" id="cheeseCheddar" type="checkbox">
          <label for="cheeseCheddar">Cheddar</label>
        </li>
        <li>
          <input formControlName="cheeseSwiss" id="cheeseSwiss" type="checkbox">
          <label for="cheeseSwiss">Swiss</label>
        </li>
      </ul>
    </section>
    <section formGroupName="veggiesAndSuch">
      <h1>Veggies 'n Such</h1>
      <ul>
        <li>
          <input formControlName="veggieLettuce" id="veggieLettuce" type="checkbox">
          <label for="veggieLettuce">Lettuce</label>
        </li>
        <li>
          <input formControlName="veggieTomato" id="veggieTomato" type="checkbox">
          <label for="veggieTomato">Tomato</label>
        </li>
        <li>
          <input formControlName="veggieMustard" id="veggieMustard" type="checkbox">
          <label for="veggieMustard">Mustard</label>
        </li>
      </ul>
    </section>
  </section>
  <section formArrayName="weirdRequests" class="weird-requests">
    <h1>Weird Requests</h1>
    <ul>
      <li *ngFor="let item of weirdRequestsControls.controls; let i = index">
        <input formControlName="{{i}}" type="text">
        <button type="button" title="Remove Request" (click)="onRemoveWeirdRequest(i)">Remove</button>
      </li>
    </ul>
    <button type="button" (click)="onAddWeirdRequest()">Add a Request</button>
  </section>
  <section>
    <h1>Other Notes</h1>
    <textarea formControlName="otherNotes"></textarea>
  </section>
  <button type="submit">Place Order</button>
  <button type="button" (click)="onResetForm()">Reset</button>
</form>
<debug-panel [data]="orderSheetForm.value"></debug-panel>